.blogs {
  max-width: 500px;
  width: 100%;
  margin-inline: auto;
  padding: 1em 2em;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.blog-list {
  padding: 0;
  list-style: none;
}

.blog-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  padding: 8px 0;
}

.blog-item+.blog-item {
  border-top: 1px solid #dddddd;
}

.blog-due {
  font-size: 0.8rem;
  color: #666;
  font-style: italic;
}

.blog-action {
  display: inline-flex;
  gap: 8px;
}

.btn-delete {
  color: tomato;
}

.blog-action>* {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background-color: white;
  border: 1px solid white;
  cursor: pointer;
  transition: transform 350ms ease-out;
}

.blog-action>*:hover {
  transform: scale(1.1)
}

.blog-action a {
  text-decoration: none;
  color: blue;
}

.blogs-item--completed {
  text-decoration: line-through;
}