.btn-delete {
    background-color: firebrick;
    margin-top: 2mm;
    padding: 2px;
    margin-left: 2mm;
    /* font-size: 3mm; */
    color: white;

}

.btn-delete:hover {
    background-color: red;
    border-color: #b5ffe1
}

.btn-nav-delete {
    background-color: firebrick;
    margin-top: 3mm;
    margin-bottom: 1mm;
}