
.blogs-edit{
    display: flex;
    
}
.edit-box{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    width: 100%;
}
.edit-box-input{
    display: flex;
    /* flex-direction: column; */
    margin: 5px 0 5px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.edit-input{
    width:70%;
    height: 25px;
    padding: 1px;
}
.edit-btn{
    margin-top: 10px;
  margin-left: 40%;
}